<div id="browse-courses">
	<div id="browse-courses-inner">
		<div id="departments">
			
			<h1>Departments</h1>
			<%= get_departments %>
		</div>
		<div id="courses">
			<h1>Courses</h1>
			<!--<ul>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
			</ul>
			<ul>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
				<li><a href="#">Actuarial Mathematics</a></li>
				<li><a href="#">Archaeology</a></li>
				<li><a href="#">Biological Sciences</a></li>
			</ul>-->

			<!-- TEMP FOR CHECKPOINT -->
			<ul>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
				<li><a href="/courses/17">CMPT 300</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="browse-btn-wrap">
	<a href="#" id="browse-btn">Browse Courses</a>
</div>
